{{ define "main" }}
  <content class="list-container">
    {{ if .Data.Singular }}
      <h3>{{ T "filtering_for" }} "{{ .Title }}"</h3>
      <small>
        {{ $mainSection := index (.Site.MainSections) 0 }}
        <a href="{{ relURL $mainSection }}">{{ T "remove_filter" }}</a>
      </small>
    {{ end }}
    {{ if or .Paginator.HasPrev .Paginator.HasNext }}
      {{- partial "pagination.html" . -}}
    {{ end }}
      {{ range .Paginator.Pages }}
       <div class="card shadow shadow-small" style="width: 20rem;">
         {{ with .Params.image }}
         <img src="{{ . }}" alt="Image for {{.}}">
         {{ end }}

        <div class="card-body">
          <h4 class="card-title">{{ .Title }}</h4>
         {{ with .Params.description }}
         <p class="card-text">{{ . }}</p>
         {{ end }}
         {{ with .Params.link }}
         <a href="{{ . }}" target="_blank" rel="noopener noreferrer">Open</a>
         {{ end }}
        </div>
      </div>
      {{ end }}
    {{ if not .Data.Singular }}
      <small>
        <div>
          {{ range .Site.Taxonomies.tags }}
            <a href="{{ .Page.RelPermalink }}">#{{ .Page.LinkTitle }}</a>&nbsp;&nbsp;
          {{ end }}
        </div>
      </small>
    {{ end }}
  </content>
{{ end }}
